.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:70px;
  width:100%;
  max-width: 1594px;
  min-width: 1594px;
}

.photo-logo img {
  width:150px;
  max-width:100%;
}

ul{
  display:flex;
  justify-content: flex-end;
}

li{
  display:flex;
  flex-direction:row;
  font-weight: 700;
  text-align: center;
  padding: 10px;
}

main{
  position: relative;
}

/*タイトル*/

.commit{
  max-width: 1594px;
}

.commit-h1{
  position: absolute;
  top:50px;
  left:10%;
}

h1{
  color: #FF3399;
  font-family: "Regular 400", cursive;
  font-size:60px;
}

.growth-colour{
  color: #33CCFF;
}

.sub-title{
  position: absolute;
  top: 300px;
  left:10%;
}

h2{
  color: #FF3399;
  font-size: 30px;
  font-weight: bold;
  margin:0px;
}

.company-since{
  margin:0px;
}

.growth-colour-h2{
  color: #33CCFF;
}

.photo-background{
  background-image:url("./img/firstview.jpg") ;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 40%;
  width:1000px;
  height: 700px;
  background-position:right 80px top 50px;
  z-index: -1;
}

.information{
  font-size: 30px;
  color: #707070;
  margin-bottom: 30px;
  font-weight: bold;
}

/*ニュース*/

.news{
  color: #FF3399;
  font-family: "Regular 400", cursive;
  font-weight: bold;
  font-size:18px;
}

.news-box{
  max-width: 800px;
  width: 90%;
  margin:100px 397px 100px 397px;
}

.news-content{
  padding:15px;
  border-top:2px solid #AAAAAA;
  border-bottom:2px solid #AAAAAA;
}

.news-content-list{
  display:flex;
  align-items: center;
  padding: 1px 20px;
  margin-bottom:5px;
  border-bottom: solid 1px 	#C0C0C0; ;
}

.news-content-list-day{
  margin-right: 20px;
  font-size: 16px;
  color: #676767;
}

.news-content-list-icon{
  background-color: #FF3399;
  color: #fff;
  font-size:16px;
  margin:1.5%;
  margin-bottom: center;
  width: 100px;
  border-radius:100px;
  text-align: center;
}

.news-content-list-text{
  color: #676767;
  font-size: 18px;
}

a{
  color: #333;
  text-decoration: none;
}

/*About*/

.about-box{
  background-color: #EEEEEE;
  padding:30px 200px 30px;
  margin:30px;
  width:100%;
  max-width: 1150px;
}

.about-photo{
  background-image: url("./img/about.jpg");
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  width:500px;
  height: 300px;
  background-position:right 0px;
  margin-left: 250px;
}

.about{
  text-align:center;
  color: #FF3399;
  font-family: "Regular 400", cursive;
  font-weight: bold;
  font-size:18px;
}

.about-frame{
  height: auto;
  display:flex;
  margin-top:20px;
}

h3{
  text-align:center;
  font-weight: bold;
  font-size: 30px;
  margin:0px;
  color: #707070;
}

/*Service*/

.service-frame{
  width: 70%;
  margin:150px 0px 100px 250px;
}

.service{
  color: #FF3399;
  font-family: "Regular 400", cursive;
  font-weight: bold;
  font-size:18px;
}

.service-contents{
  font-weight: bold;
  font-size: 25px;
  color: #707070;
}

.education0-svg{
  background: url(./img/service__first.svg) no-repeat;
  width: 28%;
  height: 150px;
  margin: auto;
}

.education-box-contents{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin-left: 10px;
}

.education0{
  background-size: cover;
  background-color: #FF3399;
  width: 50%;
}

.education-box{
  width: 50%;
}

.education-contents0{
  font-size: 20px;
  color:#fff;
  text-align: center;
  margin-top:10px;
  margin-bottom: 10px;
}

.education-contents{
  color: #fff;
  height: 30px;
  width: 400px;
  margin-top: 30px;
  font-weight: bold;
}

.education-text1{
  color: #fff;
  width: 280px;
  height: 100px;
}

.education-text{
  color:#fff;
  width: 80%;
  margin: 0 auto;
}


.education1-svg{
  background: url(./img/service__first.svg) no-repeat;
  height: 200px;
  margin:0 ;
  width: 150px;
}

.education1{
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  background-color:#993366;
}

.education2{
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  background-color:#CC99CC;
}

.service-list{
  height: 400px;
  display: flex;
  width: 100%;
  max-width: 1115px;
  min-width: 1115px;
}


.education{
  background-color: #EEEEEE;
  flex-wrap: wrap;
}

/*Blog*/

.blog-frame{
  background-color: #EEEEEE;
  padding:30px;
  margin-top:30px;
  width: 95%;
  max-width: 1574px;
}

.blog{
  color: #FF3399;
  font-family: "Regular 400", cursive;
  font-weight: bold;
  font-size:18px;
}

.blog-flex{
  display:flex;
  justify-content: center;
}

.blog-box{
  width: 25%;
  height:500px;
  margin: 30px;
}

.blog-icon{
  background-color: #FF3399;
  width: 20%;
  color: #fff;
  text-align: center;
  border-radius: 20px 0px 0px 0px;
}

.blog-photo{
  background-image: url(./20211207_task/img/blog__first.jpg);
  background-size: cover;
  height:250px;
  border-radius: 20px 20px 0px 0px;
}

.blog-name{
  font-weight: bold;
  font-size: 25px;
  margin:0px;
  color: #707070;
}

.blog-comment-box{
  background-color: #fff;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
}

.blog-comment{
  font-weight: bold;
  font-size: 22px;
  color: #444444		;
}

.blog-page{

  border-radius: 30px;
  background-color: #fff;
  width: 15%;
  margin: 0 auto;
  color: #FF3399;
  font-weight:bold;
  border:5px solid #FF3399;
  height: 40px;
  text-align:center;
  padding-top: 15px;
}

.blog-day-box{
  display:flex;
  justify-content: space-between;
  margin-top:40px ;
}

/*Company*/

.company-flame{
  width: 70%;
  max-width: 1157px;
  margin: 60px 60px 60px 260px ;
}

.company{
  color: #FF3399;
  font-family: "Regular 400", cursive;
  font-weight: bold;
  font-size:18px;
  margin-left: 15%;
}

.company-contents{
  margin-left: 15%;
  font-weight: bold;
  font-size: 30px;
  color: #707070;
}

table{
  border-collapse: collapse;
  width: 70%;
  height: 250px;
  margin: auto;
}

th{
  border:solid 1px #DDDDDD		;
  text-align: left;
  background-color: #EEEEEE;
  padding: 20px;
  width: 30%;
}

td{
  border:solid 1px #DDDDDD	;
  padding: 20px;
}

/*Information*/

.information-box{
  height: 350px;
  width: 100%;
  max-width: 1594px;
}

.information-access{
  width: 100%;
}

.information-Recruitment{
  display:flex;
  height:350px;
  width: 100%;
}

.information-Recruitment-photo{
  background-image: url(./img/recruit.png);
  width: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  color:#fff;
  font-size: 30px;
  height: 350px;
}

.information-Recruitment-text{
  text-align: center;
  color:#fff;
  font-size: 30px;
  margin: 20%;
}

.information-interview{
  background-image: url(./img/interview.png);
  width: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 350px;
}

.information-interview-text{
  text-align: center;
  color:#fff;
  font-size: 30px;
  margin: 20%;
}

/*Contact*/

.contact{
  margin-top: 70px;
  width: 100%;
  max-width: 1594px;
}

.contact-interview-text{
  text-align: center;
  font-weight: bold;
  margin: 1%;
}

.line{
  background-color: #FF3399;
  height: 35px;
  width: 2px;
  margin: auto;
  margin-bottom: 20px;
}

.contact-button{
  text-align: center;
  border-radius: 40px;
  background-color: #FF3399;
  width: 20%;
  margin: 0 auto;
  color: #fff;
  font-weight: bold;
  border:3px solid #FF3399;
  height: 60px;
  text-align:center;
}

.contact-information{
  color: #fff;
  margin-top: 15px;
}

.mail-icon{
  position:relative;
  height: 0px;
  width: 32px;
  display: block;
  background-position: right;
  fill: #fff;
  color: #fff;
}

.mail-icon::before{
  content: "";
  background-image:url(./img/mailicon1.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 12px;
  left: 15px;
  background-size: cover;
  width: 30px;
  height: 30px;
  transform: translate(0, -50%);
  fill: #fff;
}

.arrow-svg{
  width:64px;
  height:64px;
  color: #fff;
}

/*Copyright*/

.copyright{
  width: 100%;
  max-width: 1594px;
  background-color: #EEEEEE;
  line-height:40px;
  margin-top: 70px;
}

.copyright-text{
  width: 100%;
  text-align: center;
}